site_name:  BSides PR 2019 Badge Documentation
site_url: https://bsidesprbadge2019.readthedocs.io/


theme:
    name: readthedocs
    highlightjs: true
    hljs_languages:
        - yaml
        - rust
nav:
- Home: 'index.md'
- Faq: 'faq.md'

markdown_extensions:
    - toc:
        permalink: ïƒ
    - admonition
    - def_list

plugins:
  - search
